@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* === Сброс стилей === */

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* === Конец сброса стилей === */

.header {
    height: 157px;
    background: rgba(252, 247, 241, 1);
}

.header-content {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 6.7vw;
    /* margin-left: 96px; */
}

.nav {
    /* margin-right: 96px; */
    margin-right: 6.7vw;
    margin-top: -10px;
    display: flex;
    width: 446px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.nav > a {
    color: #292929;
}

.block1 {
    width: 100%;
    height: 662px;
    background: rgba(252, 247, 241, 1);
    border-radius: 0 0 0 176px;
    padding-top: 48px;
}

.block1-1 {
    width: 1248px;
    /* margin: 0 auto; */
    margin: 0 6.5vw;
}

.block1-1-h1 {
    font-weight: 300;
    /* font-size: 112px; */
    font-size: 7.8vw;
    line-height: 8.5vw;
    /* line-height: 124px; */
    text-transform: uppercase;
    color: #292929;
}

.block1-2-img1 {
    position: absolute;
    /* right: 183px; */
    right: 12.75vw;
    top: 388px;
}

.block1-2-img2 {
    position: absolute;
    /* right: 100px; */
    right: 6.9vw;
    top: 333px;
}

.block1-3 {
    position: absolute;
    display: flex;
    float: right;
    /* margin-right: 94px;
    margin-top: 177px; */
    right: 94px;
    top: 749px;
    width: 210px;
    height: 44px;
    justify-content: space-between;
    align-items: center;
}

.blue-line {
    height: 44px;
    width: 1px;
    background: #3DB0F0;
}

.block2 {
    position: relative;
    width: 100%;
    height: 360px;
    background: #FED467;
    transform: translateY(-50%);
    z-index: -100;
}

.block3 {
    display: flex;
    margin-top: -362px;
    justify-content: space-between;
}

.block3-1 {
    width: 52.6%;
    height: 613px;
    border-radius: 176px 0 0 0;
    background: #3DB0F0;
    /* padding-left: 97px; */
    padding-left: 6.7vw;
    padding-top: 97px;
    padding-right: 25px;
}

.block3-1-h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 222px;
}

.block3-1-h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.block3-2 {
    width: 47.4%;
    height: 613px;
    background: url(img/Rectangle-39314.png);
    background-position: center;
}

.block3-2-img2 {
    position: absolute;
    right: 0;
    top: 1150px;
}

.block4 {
    width: 100%;
    height: 900px;
    background: rgba(252, 247, 241, 1);
    padding-top: 96px;
    padding-left: 6.7vw;
    /* padding-left: 97px; */
}

.block4-content {
    max-width: 1440px;
    margin: 0 auto;
}

.block4-1-h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #292929;
}

.block4-2 {
    display: flex;
    margin-top: 159px;
    margin-left: calc(19vw - 100px);
    /* margin-left: 12vw; */
}

.block4-2-circle1, .block4-2-circle2, .block4-2-circle3 {
    position: relative;
    min-width: 500px;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    margin-left: -79px;
}

.block4-2-circle1 {
    background: #40D8C9;
}

.block4-2-circle2 {
    background: #FF9DC6;
}

.block4-2-circle3 {
    background: #3DB0F0;
}

.block4-2-circle1-text {
    color: #FFFFFF;
    margin-top: 225px;
    margin-left: 250px;
}

.block4-2-circle2-text {
    color: #000;
    margin-top: 225px;
    margin-left: 250px;
}

.block4-2-circle3-text {
    color: #FFFFFF;
    margin-top: 225px;
    margin-left: 250px;
}

span {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    display: inline-block;
    width: 25px;
    position: absolute;
    transform: translate(-12.5px,0px)rotate(var(--rot)) translate(0,-200px);
}

.block4-2-circle1-foto-img, .block4-2-circle2-foto-img, .block4-2-circle3-foto-img {
    margin: 0 auto;
    position: relative;
    margin-top: -130px;
}















@media (min-width: 1441px) {
    .logo {
        margin-left: 96px;
    }
    
    .nav {
        margin-right: 96px;
    }

    .block1-1 {
        margin: 0 auto;
    }
    
    .block1-1-h1 {
        font-size: 112px;
        line-height: 124px;
    }
    
    .block1-2-img1 {
        right: 183px;
    }
    
    .block1-2-img2 {
        right: 100px;
    }

    .block1-3 {
        right: calc(2.6vw * 2.7);
        top: 749px;
    }

    .block3-2 {
        background-size: 100%;
    }

}