/* roboto-300 - cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-cyrillic-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-cyrillic-300.svg#Roboto') format('svg'); /* Legacy iOS */
    font-display: swap;
  }
  
  /* roboto-regular - cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
    font-display: swap;
  }
  
  /* roboto-700 - cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
    font-display: swap;
  }
  
  /* open-sans-700 - cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v34-cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v34-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v34-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v34-cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
    font-display: swap;
  }