// /* roboto-300 - cyrillic */
// @font-face {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 300;
//     src: local(''),
//          url('../fonts/roboto-v30-cyrillic-300.woff2') format('woff2'); /* Super Modern Browsers */
//     font-display: Block;
//   }
  
//   /* roboto-regular - cyrillic */
//   @font-face {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 400;
//     src: local(''),
//          url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2');
//     font-display: Block;
//   }
  
  /* roboto-700 - cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v30-cyrillic-700.woff2') format('woff2');
    font-display: Block;
  }
  
  /* open-sans-700 - cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v34-cyrillic-700.woff2') format('woff2');
    font-display: Block;
  }