$color-for-background: rgba(252, 247, 241, 1);
$color-for-links: #292929;
$color-one: #3db0f0;
$color-two: #fed467;
$color-tree: #ff9dc6;
$color-four: #40d8c9;
$color-five: #fcf8f3;

$color-one-for-scrollbar: rgb(244, 211, 172);
$color-one-for-scrollbar-thumb: rgb(244, 199, 144);
$color-two-for-scrollbar: #72c0ea;
$color-two-for-scrollbar-thumb: #abd5eb;