@import "01_vars.scss";

html {
  overflow-x: hidden;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}