@import "01_colors.scss";

html {
  overflow-x: hidden;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: $color-for-background;
}

::-webkit-scrollbar{
  height: 4px;
  width: 10px;
  background: none;
  border: none;
  // border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal{
  height: 4px;
  background: none;
  border-radius: 2px;
  transition: 0.3s ease;
}

::-webkit-scrollbar-thumb:vertical{
  width: 20px;
  background: $color-tree;
  border-radius: 10px;
  transition: 0.3s ease;
}