@import "01_colors.scss";

html {
  overflow-x: hidden;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: $color-for-background;
}

.container {
  max-width: 1440px;
  min-width: 325px;
  margin: 0 auto;
}

::-webkit-scrollbar{
  height: 4px;
  width: 4px;
  background: none;
  border: none; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-thumb:vertical{
  height: 4px;
  width: 4px;
  background: $color-four;
  border-radius: 10px;
}