@import "01_colors.scss";

.header {
    height: 157px;
    background: $color-for-background;
  }
  
.header-content {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    margin-left: 96px;
}
  
.logo-img {
    width: 189px;
    height: 29px;
    display: block;
}
  
.nav {
    margin-right: 96px;
    margin-top: -10px;
    display: flex;
    width: 382px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}
  
.nav-links {
    color: $color-for-links;
    text-decoration: none;
}

.nav-links:hover {
    color: $color-one;
}

.burger-button {
    display: none;
    margin-right: 20px;
}

.burger-button-img {
    width: 40px;
    height: 40px;
}

.mobile-menu {
    display: none;
}

@media (min-width: 1441px) {
    .logo {
      margin-left: 96px;
    }
  
    .nav {
      margin-right: 96px;
    }
}

@media (max-width: 1350px) {
    .opacity-0-styling {
        margin-left: -0.38vw;
    }
}

@media (max-width: 1281px) {
    .nav {
        width: 382px;
    }
}

@media (max-width: 1280px) {
    .logo-img {
        width: 142px;
        height: 21px;
    }
    .nav {
        margin-top: -5px;
    }
    .logo {
        margin-top: -8px;
    }
    .opacity-0-styling {
        margin-left: 0;
    }
}

@media (max-width: 1025px) {
    .logo {
        margin-left: 9.4vw;
    }
    .nav {
        margin-right: 9.4vw;
        width: 383px;
    }
}

@media (max-width: 1024px) {
    .logo {
        margin-left: 46px;
    }
    .nav {
        margin-right: 46px;
        width: 314px;
    }
}

@media (max-width: 744px) {
    .header {
        height: 100px;
    }
    .header-content {
        padding-top: 28px;
    }
    .logo {
        margin-top: -8px;
        margin-left: 30px;
    }
    .burger-button {
        display: block;
        margin-right: 30px;
        cursor: pointer;
    }
    .nav {
        display: none;
    }
    .mobile-menu {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: $color-for-background;
        top: 130px;
        transition: 0.4s ease;
    }
    .nav-mobile-menu {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        margin-top: 37px;
    }
    .nav-link-mobile-menu {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 63.5px;
        color: #292929;
        text-decoration: none;
        width: 100%;
        text-align: center;
        transition: 0.3s ease;
    }
    .nav-link-mobile-menu:hover {
        color: $color-one;
    }
}




.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 40px;
}

.hamb-line {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after{
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.new-mobile-menu {
    display: none;
}

.new-mobile-menu:checked ~ .mobile-menu {
    max-height: 100vh;
}

.new-mobile-menu:checked ~ .mobile-menu .nav-mobile-menu .nav-link-mobile-menu {
    max-height: 100vh;
}

.new-mobile-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.new-mobile-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.new-mobile-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}