@import "01_colors.scss";

.header {
    height: 157px;
    background: $color-for-background;
  }
  
.header-content {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    margin-left: 96px;
}
  
.logo-img {
    width: 189px;
    height: 29px;
    display: block;
}
  
.nav {
    margin-right: 96px;
    margin-top: -10px;
    display: flex;
    width: 382px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}
  
.nav-links {
    color: $color-for-links;
    text-decoration: none;
}

.nav-links:hover {
    color: $color-one;
}

.checkbox-mobile-menu, .burger, .mobile-menu {
    display: none;
}

.checkbox-mobile-menu {
    display: none;
}

@media (min-width: 1441px) {
    .logo {
      margin-left: 96px;
    }
  
    .nav {
      margin-right: 96px;
    }
}

@media (max-width: 1350px) {
    .opacity-0-styling {
        margin-left: -0.38vw;
    }
}

@media (max-width: 1281px) {
    .nav {
        width: 382px;
    }
}

@media (max-width: 1280px) {
    .logo-img {
        width: 142px;
        height: 21px;
    }
    .nav {
        margin-top: -5px;
    }
    .logo {
        margin-top: -8px;
    }
    .opacity-0-styling {
        margin-left: 0;
    }
}

@media (max-width: 1025px) {
    .logo {
        margin-left: 9.4vw;
    }
    .nav {
        margin-right: 9.4vw;
        width: 383px;
    }
}

@media (max-width: 1024px) {
    .logo {
        margin-left: 46px;
    }
    .nav {
        margin-right: 46px;
        width: 314px;
    }
}

@media (max-width: 744px) {
    .header {
        height: 100px;
    }
    .header-content {
        padding-top: 0;
    }
    .header-block {
        width: 100%;
        // z-index: 500;
        background: $color-for-background;
        padding-top: 0;
        margin-top: -18px;
    }
    .logo {
        padding: 30px 30px;
        float: left;
        margin: 0;
    }
    .burger {
        display: block;
    }
    .nav {
        display: none;
    }
    .mobile-menu {
        display: block;
        position: fixed;
        width: 100vw;
        min-width: 325px;
        height: 100vh;
        background: $color-for-background;
        left: -130%;
        transition: 0.4s ease;
        z-index: 500;
    }
    .ul-mobile-menu {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        margin-top: 140px;
        list-style: none;
        padding: 0;
    }
    .nav-link-mobile-menu {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 63.5px;
        color: #292929;
        text-decoration: none;
        width: 100%;
        text-align: center;
        transition: 0.3s ease;
    }
    .nav-link-mobile-menu:hover {
        color: $color-one;
    }
    .how-we-are-working-zvezdochka-mobile-menu {
        position: absolute;
        height: 90px;
        width: 90px;
        right: 26%;
        top: 416px;
    }
    .tagline-svg-zavitushka-mobile-menu {
        position: absolute;
        height: 90px;
        width: 90px;
        left: 29.5%;
        top: 486px;
        transform: rotateZ(353deg);
    }
    .burger, .burger-close {
        cursor: pointer;
        float: right;
        padding: 40px 40px;
    }
    .burger-line {
        background: $color-one;
        display: block;
        height: 1.5px;
        position: relative;
        width: 23.3px;
    }
    .burger-line-close {
        width: 100%;
        height: 100%;
    }
    .burger-close {
        cursor: pointer;
        float: right;
        padding: 21px 30px;
    }
    .burger-line::before,
    .burger-line::after{
        background: $color-one;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .burger-line::before{
        top: 10px;
    }
    .burger-line::after{
        top: -10px;
    }
    .checkbox-mobile-menu:checked ~ .mobile-menu {
        left: 0;
    }
}



