@import "01_colors.scss";

.who-we-are {
    display: flex;
    margin-top: -360px;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .who-we-are-text {
    width: 645px;
    height: 571px;
    border-radius: 176px 0 0 0;
    background: $color-one;
    padding-left: 96.5px;
    padding-top: 42px;
    padding-right: 25px;
    // box-sizing: border-box;
  }
  
  .who-we-are-h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #ffffff;
    margin-bottom: 230px;
  }
  
  .who-we-are-h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .who-we-are-img {
    width: 680px;
    height: 613px;
    background: url(../img/1440/05_who_we_are/Rectangle-39314.webp);
    background-position: right;
    position: relative;
    flex-shrink: 10;
  }
  
  .zvezdochka {
    position: absolute;
    top: 327px;
    display: block;
    right: 0;
  }
  
@media (min-width: 1441px) {
  .who-we-are-2 {
      background-size: 100%;
  }
}

@media (max-width: 1280px) {
  .who-we-are-text {
    width: 487px;
  }
  .who-we-are-img {
    width: 671px;
  }
  .who-we-are-h2 {
    font-size: 48px;
    line-height: 52px;
    margin-top: 52px;
    margin-bottom: 280px;
  }
  .who-we-are-h3 {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 1050px) {
  .who-we-are-text {
    width: 530px;
}
}

@media (max-width: 1024px) {
  .who-we-are {
    flex-direction: column;
  }
  .who-we-are-text {
    width: 100%;
    padding-left: 0;
    text-align: center;
    height: 426px;
  }
  .who-we-are-h2 {
    margin-top: 45px;
    margin-bottom: 138px;
  }
  .who-we-are-img {
    width: 100%;
    height: 695px;
    background: url(../img/1024/who-we-are/Rectangle-39372_1_.webp);
    background-position: center;
    background-size: cover;
  }
  .zvezdochka {
    top: 413px;
    right: -14px;
  }
}

@media (max-width: 745px) {
  .who-we-are-img {
    height: 496px;
  }
  .zvezdochka {
    top: 242px;
    right: -9px;
    width: 136px;
  }
  
}

@media (max-width: 744px) {
  .who-we-are-text {
    border-radius: 132px 0 0 0;
    height: 335px;
  }
  .who-we-are-h2 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 17px;
  }
  .who-we-are-h3 {
    font-size: 20px;
    line-height: 22px;
  }
  .zvezdochka {
    top: 303px;
    right: -9px;
    width: 88px;
  }
}

@media (max-width: 429px) {
  .who-we-are-h2 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 100px;
  }
  .who-we-are-h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .who-we-are-img {
    height: 282px;
  }
  .zvezdochka {
    top: 100px;
  }
  .who-we-are-text {
    height: 269px;
  }
  .zvezdochka {
    top: 124px;
    right: -8px;
    width: 87px;
}
}