@import "01_colors.scss";

.uslugi {
    width: 100%;
    height: 806px;
    background: $color-for-background;
    margin-top: -25px;
    box-sizing: border-box;
    position: relative;
  }
  
  .uslugi-content {
    max-width: 1440px;
    margin: 0 auto;
    // margin-left: 95px;
    margin-top: 120px;
  }
  
  .uslugi-h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: $color-for-links;
    margin-left: 95px;
  }

  .for-slider {
    max-width: 1440px;
    overflow-x: auto;
    height: 660px;
    scroll-behavior: smooth;
  }
  
  .uslugi-for-circles {
    scroll-margin-block-end: 300px;
    display: flex;
    margin-top: 113px;
    margin-left: 95px;
    width: fit-content;
    transition: 0.5s ease;
  }
  
  .uslugi-circle1,
  .uslugi-circle2,
  .uslugi-circle3,
  .uslugi-circle4,
  .uslugi-circle5,
  .uslugi-circle6,
  .uslugi-circle7 {
    position: relative;
    min-width: 500px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: -59px;
  }

  .uslugi-circle1:first-child {
    margin-left: 0px;
  }
  
  .uslugi-circle1,
  .uslugi-circle5 {
    background: $color-four;
  }
  
  .uslugi-circle2,
  .uslugi-circle4,
  .uslugi-circle6 {
    background: $color-tree;
  }
  
  .uslugi-circle3,
  .uslugi-circle7 {
    background: $color-one;
  }
  
  .text-for-circle-in-js {
    color: #fff;
    margin-top: 225px;
    margin-left: 250px;
    text-transform: uppercase;
  }
  
  .uslugi-circle-black-text {
    color: #000;
  }
  
  .circle-text {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    display: inline-block;
    width: 25px;
    position: absolute;
    transform: translate(-12.5px, 0px) rotate(var(--rot)) translate(0, -200px);
  }
  
  .uslugi-circle1-img,
  .uslugi-circle2-img,
  .uslugi-circle3-img,
  .uslugi-circle4-img,
  .uslugi-circle5-img,
  .uslugi-circle6-img,
  .uslugi-circle7-img {
    display: block;
    position: relative;
    margin: -130px auto;
    width: 310px;
    height: 310px;
    border-radius: 50%;
  }

  .transparent-borders {
    width: 100vw;
    height: 900px;
    left: 0;
    position: absolute;
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
  }

  .arrows {
    display: flex;
    width: 105%;
    justify-content: space-between;
    margin-left: -2.5%;
    position: absolute;
    top: 458px;
    z-index: 100;
    display: none;
  }

  .arrow-left, .arrow-right {
    width: 67.87px;
    height: 67.87px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  .arrow-left-img, .arrow-right-img {
    width: 15px;
    height: 26px;
    margin-top: 50%;
    margin-left: 50%;
  }

  .arrow-left-img {
    transform: translateY(-50%) translateX(-60%);
  }

  .arrow-right-img {
    transform: translateY(-50%) translateX(-40%);
  }

@media (min-width: 1600px) {
  .arrows {
    display: flex;
  }
}

@media (max-width: 1439px) {
  .uslugi {
    height: 707px;
  }
  .uslugi-circle1, .uslugi-circle2, .uslugi-circle3, .uslugi-circle4, .uslugi-circle5, .uslugi-circle6, .uslugi-circle7 {
    min-width: 400px;
    width: 400px;
    height: 400px;
    margin-left: -59px;
  }
  .text-for-circle-in-js {
    margin-top: 179px;
    margin-left: 250px;
  }
  .circle-text {
    font-size: 32px;
    display: inline-block;
    width: 25px;
    position: absolute;
    transform: translate(-63.5px,0) rotate(var(--rot)) translate(0,-160px);
  }
  .uslugi-circle1-img, .uslugi-circle2-img, .uslugi-circle3-img, .uslugi-circle4-img, .uslugi-circle5-img, .uslugi-circle6-img, .uslugi-circle7-img {
    width: 230px;
    height: 230px;
    margin: -92px auto;
  }
  .for-slider {
    height: 550px;
  }
}

@media (max-width: 1280px) {
  .uslugi-h2 {
    font-size: 48px;
  }
  .uslugi-content {
    margin-top: 110px;
  }
  .uslugi-for-circles {
    margin-top: 115px;
  }
  
}

@media (max-width: 1024px) {
  .uslugi {
    height: 563px;
  }
    .uslugi-content {
      margin-top: 115px;
      margin-left: 0;
  }
  .uslugi-h2 {
    text-align: center;
    margin-left: 0px;
  }
  .uslugi-for-circles {
    margin-left: 45px;
    margin-top: 38px;
  }
  .for-slider {
    height: 470px;
  }
}

@media (max-width: 745px) {
  .uslugi-for-circles {
    margin-left: 52px;
    margin-top: 36px;
  }
}

@media (max-width: 744px) {
  .uslugi {
    height: 301px;
  }
  .uslugi-h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .uslugi-content {
    margin-top: 105px;
  }
  .uslugi-circle1, .uslugi-circle2, .uslugi-circle3, .uslugi-circle4, .uslugi-circle5, .uslugi-circle6, .uslugi-circle7 {
    min-width: 232px;
    width: 232px;
    height: 232px;
    margin-left: -36px;
  }
  .text-for-circle-in-js {
    margin-top: 93px;
    margin-left: 255px;
  }
  .circle-text {
    font-size: 20px;
    display: inline-block;
    width: 25px;
    position: absolute;
    transform: translate(-152px,0) rotate(var(--rot)) translate(5px,-92px);
  }
  .uslugi-circle1-img, .uslugi-circle2-img, .uslugi-circle3-img, .uslugi-circle4-img, .uslugi-circle5-img, .uslugi-circle6-img, .uslugi-circle7-img {
    width: 144px;
    height: 144px;
    margin: -48px auto;
  }
  .uslugi-for-circles {
    margin-left: 40px;
    margin-top: 13px;
  }
  .for-slider {
    height: 270px;
  }
}

@media (max-width: 375px) {
  .uslugi-h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .uslugi-for-circles {
    margin-left: 30px;
    margin-top: 19px;
  }
}
