@import "01_colors.scss";

.how-we-are-working {
    width: 100%;
    height: 743px;
    background: $color-for-background;
    padding-top: 45px;
    padding-left: 95px;
    box-sizing: border-box;
    max-width: 1440px;
    min-width: 325px;
    margin: 0 auto;
  }
  
  .how-we-are-working-content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .how-we-are-working-h2 {
    width: fit-content;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: $color-for-links;
  }
  
  .how-we-are-working-flex {
    width: 97%;
    margin-left: -2.25%;
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
  }
  
  .how-we-are-working-flex-item1,
  .how-we-are-working-flex-item2,
  .how-we-are-working-flex-item3,
  .how-we-are-working-flex-item4 {
    max-width: 310px;
    width: 100%;
    height: 510px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .item1-number,
  .item2-number,
  .item3-number,
  .item4-number {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 112px;
    line-height: 128px;
    text-transform: lowercase;
    width: fit-content;
    margin: 76px auto 0 auto;
  }
  
  .item1-number {
    color: $color-one;
  }
  
  .item2-number {
    color: $color-two;
  }
  
  .item3-number {
    color: $color-tree;
  }
  
  .item4-number {
    color: $color-four;
  }
  
  .item1-h3,
  .item2-h3,
  .item3-h3,
  .item4-h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: $color-for-links;
    width: fit-content;
    margin: 68px auto 0 auto;
  }
  
  .item1-p-disp-none,
  .item2-p-disp-none,
  .item3-p-disp-none,
  .item4-p-disp-none {
    width: 229px;
    margin: 0 auto;
    display: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: $color-for-links;
  }
  
  .item1-p-disp-none {
    margin-top: 70px;
  }
  
  .item2-p-disp-none {
    margin-top: 30px;
  }
  
  .item3-p-disp-none {
    margin-top: 70px;
  }
  
  .item4-p-disp-none {
    margin-top: 72px;
  }
  
  .span-disp-none {
    display: none;
  }
  
  .zvezda1,
  .zvezda2,
  .zvezda3,
  .zvezda4 {
    position: absolute;
    margin-top: -534px;
    margin-left: 127px;
    display: none;
  }
  
  .zvezda2,
  .zvezda3 {
    margin-top: -562px;
  }
  
  .how-we-are-working-flex-item1:hover,
  .how-we-are-working-flex-item2:hover,
  .how-we-are-working-flex-item3:hover,
  .how-we-are-working-flex-item4:hover {
    margin-top: -2px;
    border: 2px solid $color-tree;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    box-sizing: border-box;
  }
  
  .how-we-are-working-flex-item1:hover .item1-p-disp-none {
    display: block;
  }
  
  .how-we-are-working-flex-item1:hover .zvezda1 {
    display: block;
  }
  
  .how-we-are-working-flex-item2:hover .span-disp-none {
    display: block;
  }
  
  .how-we-are-working-flex-item2:hover .item2-p-disp-none {
    display: block;
  }
  
  .how-we-are-working-flex-item2:hover .zvezda2 {
    display: block;
  }
  
  .how-we-are-working-flex-item3:hover .item3-p-disp-none {
    display: block;
  }
  
  .how-we-are-working-flex-item3:hover .zvezda3 {
    display: block;
  }
  
  .how-we-are-working-flex-item4:hover .item4-p-disp-none {
    display: block;
  }
  
  .how-we-are-working-flex-item4:hover .zvezda4 {
    display: block;
  }

  .zvezda1-for-1439 {
    display: none;
  }

  @media (max-width: 1439px) {
    .for-overflow {
      overflow-x: auto;
    }
    .how-we-are-working {
      padding-left: 0;
      height: 866px;
    }
    .how-we-are-working-content {
      margin-left: 0px;
      position: relative;
    }
    .zvezda1-for-1439 {
      display: block;
      position:absolute;
      top: -69px;
    left: 680px;
    }
    .zvezda1-for-1439-img {
      width: 100px;
      height:100px;
    }
    .how-we-are-working-h2 {
      margin-left: 95px;
    }
    .how-we-are-working-flex {
      width: 1550px;
      height: 550px;
      margin-top: 115px;
      margin-left: 0;
    }
    .how-we-are-working-flex-item1,
    .how-we-are-working-flex-item2,
    .how-we-are-working-flex-item3,
    .how-we-are-working-flex-item4 {
      margin-top: -2px;
      border: 2px solid $color-tree;
      box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      box-sizing: border-box;
    }
    .how-we-are-working-flex-item1{
      border: 2px solid rgba(64, 216, 201, 1);
      margin-left: 95px;
    }
    .how-we-are-working-flex-item3{
      border: 2px solid rgba(61, 176, 240, 1);
    }
    .how-we-are-working-flex-item4{
      border: 2px solid rgba(254, 212, 103, 1);
      margin-right: 95px;
    }
    .item1-p-disp-none,
    .item2-p-disp-none,
    .item3-p-disp-none,
    .item4-p-disp-none {
      display: block;
    }
    .item1-number,
    .item2-number,
    .item3-number,
    .item4-number {
      margin: 96px auto 0 auto;
    }
    .item1-p-disp-none,
    .item2-p-disp-none,
    .item3-p-disp-none,
    .item4-p-disp-none {
      margin-top: 48px;
    }
    .how-we-are-working-flex-item2:hover .span-disp-none {
      display: none;
    }
    .how-we-are-working-flex-item1:hover .zvezda1 {
      display: none;
    }
    .how-we-are-working-flex-item2:hover .zvezda2 {
      display: none;
    }
    .how-we-are-working-flex-item3:hover .zvezda3 {
      display: none;
    }
    .how-we-are-working-flex-item4:hover .zvezda4 {
      display: none;
    }
    .how-we-are-working-flex-item1:hover{
      border: 2px solid rgba(64, 216, 201, 1);
    }
    .how-we-are-working-flex-item3:hover {
      border: 2px solid rgba(61, 176, 240, 1);
    }
    .how-we-are-working-flex-item4:hover {
      border: 2px solid rgba(254, 212, 103, 1);
    }
  }

  @media (max-width: 1280px) {
    .how-we-are-working-h2 {
      font-size: 48px;
      line-height: 52px;
    }
    .zvezda1-for-1439 {
      left: 538px;
    }
    .how-we-are-working-flex {
      margin-top: 133px;
    }
  }

  @media (max-width: 1024px) {
    .how-we-are-working {
      height: 787px;
    }
    .how-we-are-working-h2 {
      margin: 40px auto;
    }
    .zvezda1-for-1439 {
      display: none;
    }
    .how-we-are-working-flex {
      width: 1500px;
      margin-top: 48px;
    }
    .how-we-are-working-flex-item1 {
      margin-left: 46px;
    }
  }

  @media (max-width: 745px) {
    .how-we-are-working-flex-item1 {
      margin-left: 53px;
    }
  }

  @media (max-width: 744px) {
    .how-we-are-working {
      height: 586px;
    }
    .how-we-are-working-h2 {
      font-size: 30px;
      line-height: 36px;
    }
    .how-we-are-working-flex {
      margin-top: 3px;
      height: 410px;
      width: 1218px;
    }
    .how-we-are-working-flex-item1, 
    .how-we-are-working-flex-item2, 
    .how-we-are-working-flex-item3, 
    .how-we-are-working-flex-item4 {
      max-width: 252px;
      width: 100%;
      height: 373px;
    }
    .how-we-are-working-flex-item1 {
      margin-left: 40px;
    }
    .item1-number, .item2-number, .item3-number, .item4-number {
      margin: 30px auto 0 auto;
    }
    .item1-h3, .item2-h3, .item3-h3, .item4-h3 {
      font-size: 28px;
      line-height: 32px;
      margin: 44px auto 0 auto;
    }
    .item1-p-disp-none, .item2-p-disp-none, .item3-p-disp-none, .item4-p-disp-none {
      width: 215px;
      line-height: 20px;
      margin-top: 27px;
    }
  }

  @media (max-width: 375px) {
    .how-we-are-working-h2 {
      font-size: 28px;
      line-height: 32px;
    }
    .how-we-are-working-flex-item1 {
      margin-left: 29px;
    }
    .how-we-are-working {
      height: 574px;
    }
  }
