@import "01_colors.scss";

.projects {
    width: 100%;
    height: 1663px;
    background: $color-for-background;
    box-sizing: border-box;
    border-radius: 0 0 0 170px;
    max-width: 1440px;
    min-width: 325px;
    margin: -31px auto 0 auto;
  }
  
  .projects-center {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
  
  .projects-h2 {
    width: fit-content;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: $color-for-links;
    margin-left: 95px;
  }
  
  .projects-flex {
    max-width: 1248px;
    margin: 58px 60px 50px 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .projects-item1,
  .projects-item2,
  .projects-item3,
  .projects-item4,
  .projects-item5,
  .projects-item6 {
    max-width: 604px;
    width: 50%;
    height: 440px;
    margin-top: 40px;
    border-radius: 60px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
  }
  
  .projects-item1 {
    background: url(../img/1440/08_progects/pic1.jpg);
    background-position: center center;
  }
  
  .projects-item2 {
    background: url(../img/1440/08_progects/pic2.jpg);
    background-position: center center;
  }
  
  .projects-item3 {
    background: url(../img/1440/08_progects/pic3.jpg);
    background-position: center center;
  }
  
  .projects-item4 {
    background: url(../img/1440/08_progects/pic4.jpg);
    background-position: center center;
  }
  
  .projects-item5 {
    background: url(../img/1440/08_progects/pic5.jpg);
    background-position: center center;
  }
  
  .projects-item6 {
    background: url(../img/1440/08_progects/pic6.jpg);
    background-position: center center;
  }

  .gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg,#050000 -9%,rgba(0,0,0,0) 34.55%);
    position: absolute;
    border-radius: 60px;
    position: relative;
    transition: 0.3s ease;
  }

  .projects-h4 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    left: 32px;
    bottom: 0;
    position: absolute;
    color: $color-five;
    padding-right: 30px;
  }

  .projects-h3 {
    position: absolute;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: $color-five;
    text-transform: uppercase;
    z-index: 10;
    bottom: 63px;
    left: 32px;
    // display: none;
    opacity: 0;
    padding-right: 30px;
    transition: 0.3s ease;
  }
  
  .projects-item1:hover .gradient {
    background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 54.55%);
  }
  
  .projects-item1:hover .projects-h3 {
    // display: block;
    opacity: 1;
  }
  
  .projects-item2:hover .gradient {
    background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 54.55%);
  }
  
  .projects-item2:hover .projects-h3 {
    // display: block;
    opacity: 1;
  }
  
  .projects-item3:hover .gradient {
    background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 54.55%);
  }
  
  .projects-item3:hover .projects-h3 {
    // display: block;
    opacity: 1;
  }
  
  .projects-item4:hover .gradient {
    background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 54.55%);
  }
  
  .projects-item4:hover .projects-h3 {
    // display: block;
    opacity: 1;
  }
  
  .projects-item5:hover .gradient {
    background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 54.55%);
  }
  
  .projects-item5:hover .projects-h3 {
    // display: block;
    opacity: 1;
  }
  
  .projects-item6:hover .gradient {
    background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 54.55%);
  }
  
  .projects-item6:hover .projects-h3 {
    // display: block;
    opacity: 1;
  }

  @media (max-width: 1439px) {
    .projects-h3 {
      bottom: 80px;
    }
    .projects-h4 {
      margin-bottom: 33px;
    }
    .projects-h4 {
      font-size: 28px;
      line-height: 32px;
    }
    .projects-flex {
      margin: 58px 95px 50px 95px;
    }
    .projects-item1,
    .projects-item2,
    .projects-item3,
    .projects-item4,
    .projects-item5,
    .projects-item6 {
      width: 48%;
    }
  }

  @media (max-width: 1280px) {
    .projects {
      height: 1645px;
    }
    .projects-h2 {
      margin-top: 23px;
      font-size: 48px;
      line-height: 52px;
    }
    .projects-h3 {
    // display: block;
    opacity: 1;
    }
    .gradient {
      background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 54.55%);
    }
  }

  @media (max-width: 1024px) {
    .projects {
      height: 686px;
      border-radius: 0;
    }
    .projects-for-overflow {
      overflow-x: auto;
    }
    .projects-for-overflow:hover::-webkit-scrollbar{
      border-bottom: 0.1px solid $color-one-for-scrollbar; 
    }
    .projects-for-overflow:hover::-webkit-scrollbar-thumb:horizontal{
      background: $color-one-for-scrollbar-thumb;
    }
    .projects-h2 {
      margin: 23px auto;
    }
    .projects-center {
      max-width: 2600px;
    }
    .projects-flex {
      margin-top: 25px;
      margin-left: 47px;
      max-width: 2572px;
      width: 2572px;
    }
    .projects-item1, .projects-item2, .projects-item3, .projects-item4, .projects-item5, .projects-item6 {
      width: 395px;
    }
  }

  @media (max-width: 745px) {
    .projects {
      height: 678px;
    }
    .projects-flex {
      margin-left: 52px;
      margin-top: 20px;
    }
    .projects-h4 {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 744px) {
    .projects {
      height: 418px;
    }
    .projects-h2 {
      margin: 6px auto;
      font-size: 30px;
      line-height: 36px;
    }
    .projects-flex {
      margin-left: 40px;
      max-width: 1543px;
      width: 1543px;
      margin-top: 25px;
      padding-right: 60px;
    }
    .projects-item1, .projects-item2, .projects-item3, .projects-item4, .projects-item5, .projects-item6 {
      margin-top: 8px;
      width: 230px;
      height: 264px;
      border-radius: 30px;
      background-size: cover;
    }
    .projects-h4 {
      font-size: 16px;
      line-height: 20px;
    }
    .projects-h3 {
      font-size: 16px;
      line-height: 20px;
      bottom: 48px;
    }
    .gradient {
      height: 250px;
      border-radius: 30px;
      background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 100%);
    }
    .projects-item1:hover .gradient {
      background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 100%);
    }

    .projects-item2:hover .gradient {
      background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 100%);
    }

    .projects-item3:hover .gradient {
      background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 100%);
    }

    .projects-item4:hover .gradient {
      background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 100%);
    }

    .projects-item5:hover .gradient {
      background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 100%);
    }

    .projects-item6:hover .gradient {
      background: linear-gradient(360deg,#050000 4%,rgba(0,0,0,0) 100%);
    }
  }

  @media (max-width: 375px) {
    .projects {
      height: 414px;
    }
    .projects-h2 {
      margin: 12px auto;
      font-size: 28px;
      line-height: 32px;
    }
    .projects-flex {
      margin-left: 31px;
      margin-top: 20px;
    }
  }