.for-video-block {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    margin-top: -99px;
    margin-bottom: -100px;
    z-index: 10;
}

.video {
    width: 100%;
    height: 720px;
    margin-bottom: -7px;
    z-index: 10;
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 100%;
    cursor: pointer;
}

.text-on-video-div {
    position: absolute;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 112px;
    line-height: 124px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
}

.text-on-video-p {
    cursor: pointer;
    transition: opacity 0.4s;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: calc(-295px - 16%);
    opacity:0.99;
}

.play-button {
    width: 100%;
    height: 100%;
    background: url('../img/1440/10.1_video/play.png');
    background-position: center center;
    background-repeat: no-repeat;
    opacity:0.7;
    transition: opacity 0.4s;
}

@media (max-width: 1280px) {
    .text-on-video-p {
        font-size: 82px;
        line-height: 92px;
    }
}

@media (max-width: 1024px) {
    .video {
        height: 620px;
    }
}

@media (max-width: 745px) {
    .text-on-video-p {
        font-size: 62px;
        line-height: 72px;
    }
    .video {
        height: 620px;
    }
}

@media (max-width: 744px) {
    .for-video-block{
        margin-top: 0;
        margin-bottom: 0;
    }
    .video {
        height: 422px;
    }
    .text-on-video-p {
        margin-top: -290px;
    }
}

@media (max-width: 640px) {
    .text-on-video-p {
        font-size: 30px;
        line-height: 36px;
    }
}

@media (max-width: 375px) {
    .video {
        height: 260px;
    }
    .play-button {
        width: 50%;
        height: 50%;
        background-size: contain;
        margin: 20% auto;
    }
    .text-on-video-p {
        margin-top: -227px;
    }
}