@import "01_colors.scss";

.footer {
    background: $color-for-background;
    width: 100%;
    height: 496px;
  }
  
  .footer-center {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 124px;
  }
  
  .footer-logo {
    width: fit-content;
    display: block;
    margin: 0 auto;
    width: 695px;
    height: 106px;
  }
  
  .footer-flex {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 124px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $color-for-links;
  }
  
  .footer-phone1,
  .footer-phone2,
  .footer-email {
    color: rgba(41, 41, 41, 1);
    text-decoration: none;
  }

  .social-background {
    width: 42px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
  }
  
  .footer-socials {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 216px;
    align-items: center;
    margin-top: -6px;
    margin-right: -11px;
  }
  
  .footer-social-tg {
    width: 18px;
    height: 18px;
    margin-top: 9px;
  }
  
  .footer-social-yt {
    width: 24px;
    height: 17px;
    margin-top: 9px;
  }
  
  .footer-social-wa {
    width: 18px;
    height: 18px;
    margin-top: 9px;
  }
  
  .footer-social-vk {
    width: 22px;
    height: 16px;
    margin-top: 9px;
  }
  
  .black-line {
    height: 40px;
    width: 1px;
    background: $color-for-links;
  }