@import "01_colors.scss";

.footer {
    background: $color-for-background;
    width: 100%;
    height: 496px;
    max-width: 1440px;
    min-width: 325px;
    margin: 0 auto;
  }
  
  .footer-center {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 124px;
  }
  
  .footer-logo {
    width: fit-content;
    display: block;
    margin: 0 auto;
    width: 695px;
    height: 106px;
  }
  
  .footer-flex {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 124px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $color-for-links;
  }
  
  .footer-phone1,
  .footer-phone2,
  .footer-email {
    color: rgba(41, 41, 41, 1);
    text-decoration: none;
  }

  .social-background {
    width: 42px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
  }
  
  .footer-socials {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 216px;
    align-items: center;
    margin-top: -6px;
    margin-right: -11px;
  }
  
  .footer-social-tg {
    width: 18px;
    height: 18px;
    margin-top: 9px;
  }
  
  .footer-social-yt {
    width: 24px;
    height: 17px;
    margin-top: 9px;
  }
  
  .footer-social-wa {
    width: 18px;
    height: 18px;
    margin-top: 9px;
  }
  
  .footer-social-vk {
    width: 22px;
    height: 12px;
    margin-top: 12px;
  }
  
  .black-line {
    height: 40px;
    width: 1px;
    background: $color-for-links;
  }

  @media (max-width: 1280px) {
    .footer-logo {
      width: 523px;
      height: 80px;
    }
    .footer-flex {
      width: 96%;
      margin: 124px auto 0 auto;
    }
  }

  @media (max-width: 1025px) {
    .footer-logo {
      width: 587px;
      height: 90px;
    }
    .footer-flex {
      width: 87%;
    }
  }

  @media (max-width: 1024px) {
    .footer {
      height: 620px;
    }
    .footer-logo {
      width: 450px;
      height: 68px;
    }
    .footer-flex {
      flex-direction: column;
      width: fit-content;
      align-items: center;
      margin-top: 58px;
    }
    .footer-email, .footer-phone1, .footer-phone2 {
      margin-top: 21px;
    }
    .footer-socials {
      margin-top: 100px;
      margin-right: 0;
    }
  }

  @media (max-width: 745px) {
    .footer-socials {
      margin-top: 80px;
    }
  }

  @media (max-width: 744px) {
    .footer-logo {
      width: 283px;
      height: 42px;
    }
    .footer-flex {
      margin-top: 42px;
    }
    .footer-socials {
      margin-top: 58px;
    }
  }