@import "vars.scss";

html {
  overflow-x: hidden;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.background-for-borders-tagline-and-who-we-are {
  position: relative;
  width: 100%;
  height: 360px;
  background: $color-nice-yellow;
  transform: translateY(-50%);
  z-index: -100;
  box-sizing: border-box;
}

.block6 {
  width: 100%;
  height: 1743px;
  padding-left: 6.7vw;
  padding-top: 24px;
  background: rgba(252, 247, 241, 1);
  box-sizing: border-box;
}

.block6-center {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.block6-h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: $color-for-links;
}

.block6-flex {
  max-width: 1248px;
  margin: 56px 60px 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block6-item1,
.block6-item2,
.block6-item3,
.block6-item4,
.block6-item5,
.block6-item6 {
  max-width: 604px;
  width: 50%;
  height: 440px;
  margin-top: 40px;
  border-radius: 60px;
  display: flex;
  align-items: flex-end;
  padding-left: 32px;
  box-sizing: border-box;
  text-decoration: none;
  /* padding-right: 10px; */
}

.block6-item1 {
  background: url(../img/pic1.jpg);
  background-position: center center;
}

.block6-item2 {
  background: url(../img/pic2.jpg);
  background-position: center center;
}

.block6-item3 {
  background: url(../img/pic3.jpg);
  background-position: center center;
}

.block6-item4 {
  background: url(../img/pic4.jpg);
  background-position: center center;
}

.block6-item5 {
  background: url(../img/pic5.jpg);
  background-position: center center;
}

.block6-item6 {
  background: url(../img/pic6.jpg);
  background-position: center center;
}

.block6-h3,
.block6-h3-gradient {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #fcf8f3;
  z-index: 10;
  margin-right: 30px;
}

.block6-h3-gradient {
  margin-bottom: -8px;
}

.block6-gradient {
  /* position: absolute; */
  background: linear-gradient(360deg, #050000 4.09%, rgba(0, 0, 0, 0) 54.55%);
  border-radius: 0px 0px 60px 60px;
  width: 150%;
  height: 440px;
  margin-left: -32px;
  // margin-bottom: -32px;
  max-width: 604px;
  /* display: flex; */
  /* align-items: flex-end; */
  padding-bottom: 40px;
  padding-left: 32px;
  display: none;
}

.block6-h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fcf8f3;
  text-transform: uppercase;
  margin-bottom: -10px;
}

.block6-item1:hover .block6-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.block6-item1:hover .block6-h3 {
  display: none;
}

.block6-item2:hover .block6-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.block6-item2:hover .block6-h3 {
  display: none;
}

.block6-item3:hover .block6-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.block6-item3:hover .block6-h3 {
  display: none;
}

.block6-item4:hover .block6-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.block6-item4:hover .block6-h3 {
  display: none;
}

.block6-item5:hover .block6-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.block6-item5:hover .block6-h3 {
  display: none;
}

.block6-item6:hover .block6-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.block6-item6:hover .block6-h3 {
  display: none;
}

.block7 {
  width: 100%;
  height: 704px;
  background: $color-nice-blue;
  box-sizing: border-box;
}

.block7-center {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.block7-h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  align-items: center;
  color: #ffffff;
  padding-top: 74px;
  margin-left: 96px;
  margin-top: 0;
}

.block7-for-flex {
  width: 100%;
  max-width: 1440px;
}

.block7-cards {
  margin-top: 57px;
  width: 300vw;
  height: fit-content;
  display: flex;
  margin-left: 79px;
}

.block7-card {
  width: 319px;
  height: 399px;
  background: #fcf8f3;
  border-radius: 48px;
  margin: 0 16px 0 16px;
}

.block7-card-foto {
  width: fit-content;
  margin: 39px auto;
}

.card-foto {
  width: 159px;
  height: 159px;
}

.block7-card-header {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: $color-for-links;
  width: fit-content;
  max-width: 90%;
  margin: 0 auto;
}

.block7-card-p {
  width: 75%;
  margin: 18px auto 0 auto;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 22px;
  color: $color-for-links;
}

.block8 {
  position: inherit;
  width: 100%;
  height: 520px;
  background: #d9d9d9;
  box-sizing: border-box;
}

.block8-background {
  width: 100%;
  max-width: 1440px;
  height: 520px;
  background: url(../img/podarok.jpg);
  background-position: center;
  margin: 0 auto;
  position: relative;
}

.block8-title {
  font-family: "Roboto";
  width: fit-content;
  margin: 0 auto;
  padding: 194px 30px 200px 19px;
  font-weight: 300;
  font-size: 112px;
  line-height: 124px;
  text-transform: uppercase;
  color: #ffffff;
}

.block8-background:hover .block8-title {
  color: $color-nice-pink;
}

.block8-gradient-left {
  position: absolute;
  height: 520px;
  width: 15%;
  background: linear-gradient(90deg, #d9d9d9 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 100;
}

.block8-gradient-right {
  position: absolute;
  height: 520px;
  width: 15%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #d9d9d9 100%);
  z-index: 100;
  right: 0;
}

.block8-a {
  text-decoration: none;
}

.block9 {
  width: 100%;
  height: 526px;
  background: $color-nice-blue;
  box-sizing: border-box;
}

.block9-flex {
  width: 100%;
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
}

.block9-text {
  width: 60%;
}

.block9-form {
  width: 40%;
}

.block9-text-h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
  margin-left: 96px;
  margin-top: 97px;
}

.block9-text-p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 101px;
  margin-left: 96px;
}

.block9-text-img {
  float: right;
  margin-top: -356px;
  margin-right: -24px;
  width: 131px;
  height: 131px;
  display: block;
}

.block9-form {
  margin-top: 89px;
  padding-left: 80px;
  box-sizing: border-box;
}

.forma {
  display: flex;
  flex-direction: column;
}

.name,
.email,
.phone {
  width: 400px;
  height: 60px;
  background: #ffffff;
  border-radius: 12px;
  border: 0px;
  font: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #8f8f8f;
  padding-left: 15px;
  margin-bottom: 16px;
  outline: none;
  box-sizing: border-box;
}

.label {
  display: none;
}

.button-subscribe {
  width: 400px;
  height: 60px;
  background: $color-nice-green;
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
}

.button-subscribe-span {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin: 0 auto;
}

.block9-form-p,
.block9-form-a {
  max-width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 34px;
  text-decoration: none;
}

.block9-form-a {
  text-decoration: underline;
}

.footer {
  background: rgba(252, 247, 241, 1);
  width: 100%;
  height: 496px;
}

.footer-center {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 132px;
}

.footer-logo {
  width: fit-content;
  display: block;
  margin: 0 auto;
  width: 695px;
  height: 106px;
}

.footer-flex {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 132px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $color-for-links;
}

.footer-phone1,
.footer-phone2,
.footer-email {
  color: rgba(41, 41, 41, 1);
  text-decoration: none;
}

.footer-socials {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 182px;
  align-items: center;
  margin-top: -11px;
  margin-right: -11px;
}

.footer-social-tg {
  width: 18px;
  height: 18px;
}

.footer-social-yt {
  width: 18px;
  height: 12px;
}

.footer-social-wa {
  width: 16px;
  height: 16px;
}

.footer-social-vk {
  width: 22px;
  height: 12px;
}

.black-line {
  height: 40px;
  width: 1px;
  background: $color-for-links;
}

// @media (min-width: 1441px) {
//   .logo {
//     margin-left: 96px;
//   }

//   .nav {
//     margin-right: 96px;
//   }

  // .tagline-1 {
  //   margin: 0 auto;
  // }

  // .tagline-h1 {
  //   font-size: 112px;
  //   line-height: 124px;
  // }

  // .tagline-2 {
  //   margin-top: -242px;
  // }

  /* .tagline-2-img1 {
        right: 183px;
    }
    
    .tagline-2-img2 {
        right: 100px;
    } */

  /* .tagline-3 {
    position: sticky;
    margin-top: 172.8px;
    right: auto;
    bottom: auto;
    margin-right: 50px;
    margin-top: -80px;
  } */

  // .who-we-are-2 {
  //   background-size: 100%;
  // }
// }
