*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h3,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* === Конец сброса стилей === */

.header {
  height: 157px;
  background: rgba(252, 247, 241, 1);
}

.header-content {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 6.7vw;
}

.logo-img {
  width: 189px;
  height: 29px;
}

.nav {
  margin-right: 6.7vw;
  margin-top: -10px;
  display: flex;
  width: 446px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.nav > a {
  color: #292929;
}

.block1 {
  width: 100%;
  height: 662px;
  background: rgba(252, 247, 241, 1);
  border-radius: 0 0 0 176px;
  padding-top: 48px;
}

.block1-1 {
  width: 100%;
  max-width: 1440px;
}

.block1-1-h1 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 7.8vw;
  line-height: 8.6vw;
  text-transform: uppercase;
  color: #292929;
  padding-left: 96px;
}

.block1-2 {
  position: inherit;
  float: right;
  margin-top: -16.9vw;
  margin-right: 100px;
}

.block1-2-img1 {
  position: inherit;
  margin-top: -35px;
  width: 181px;
  height: 189px;
}

.block1-2-img2 {
  position: inherit;
  margin-left: 175px;
  width: 90px;
  height: 90px;
}

.block1-3-center {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.block1-3 {
  position: absolute;
  display: flex;
  float: right;
  width: 207px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 12vw; */
  /* margin-right: -269px; */
  right: 6.7vw;
  bottom: 200px;
}

.social {
  width: 34px;
  height: 34px;
}

.blue-line {
  height: 44px;
  width: 1px;
  background: #3db0f0;
}

.block2 {
  position: relative;
  width: 100%;
  height: 360px;
  background: #fed467;
  transform: translateY(-50%);
  z-index: -100;
}

.block3 {
  display: flex;
  margin-top: -360px;
  justify-content: space-between;
}

.block3-1 {
  width: 52.9%;
  height: 613px;
  border-radius: 176px 0 0 0;
  background: #3db0f0;
  padding-left: 6.7vw;
  padding-top: 97px;
  padding-right: 25px;
}

.block3-1-h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
  margin-bottom: 223px;
}

.block3-1-h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.block3-2 {
  width: 47.1%;
  height: 613px;
  background: url(img/Rectangle-39314.jpg);
  background-position: center;
}

.block3-2-img2 {
  position: absolute;
  right: 0;
  top: 1150px;
}

.block4 {
  width: 100%;
  height: 900px;
  background: rgba(252, 247, 241, 1);
  padding-top: 96px;
  padding-left: 6.7vw;
}

.block4-content {
  max-width: 1440px;
  margin: 0 auto;
}

.block4-1-h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #292929;
}

.block4-2 {
  display: flex;
  margin-top: 159px;
  margin-left: calc(19vw - 100px);
}

.block4-2-circle1,
.block4-2-circle2,
.block4-2-circle3 {
  position: relative;
  min-width: 500px;
  width: 500px;
  height: 500px;
  border-radius: 250px;
  margin-left: -79px;
}

.block4-2-circle1 {
  background: #40d8c9;
}

.block4-2-circle2 {
  background: #ff9dc6;
}

.block4-2-circle3 {
  background: #3db0f0;
}

.text {
  color: #ffffff;
  margin-top: 225px;
  margin-left: 250px;
  text-transform: uppercase;
}

.block4-2-circle2-text {
  color: #000;
}

.block4-text1 {
  margin: 4% auto;
  width: 460px;
  height: 460px;
}

.block4-text2 {
  margin: 5% auto;
  width: 453px;
  height: 453px;
}

.block4-text3 {
  margin: 5% auto;
  width: 448px;
  height: 448px;
}

.circle-text {
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  display: inline-block;
  width: 25px;
  position: absolute;
  transform: translate(-12.5px, 0px) rotate(var(--rot)) translate(0, -200px);
}

.block4-2-circle1-foto-img,
.block4-2-circle2-foto-img,
.block4-2-circle3-foto-img {
  margin: 0 auto;
  position: relative;
  width: 310px;
  height: 310px;
}

.block4-2-circle1-foto-img {
  margin-top: -405px;
}

.block4-2-circle2-foto-img {
  margin-top: -409px;
}

.block4-2-circle3-foto-img {
  margin-top: -406px;
}

.block5 {
  width: 100%;
  height: 800px;
  background: rgba(252, 247, 241, 1);
  padding-top: 94px;
  padding-left: 6.7vw;
}

.block5-center {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.block5-h2 {
  width: fit-content;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #292929;
}

.block5-flex {
  width: 97%;
  margin-left: -2.25%;
  margin-top: 91px;
  display: flex;
  justify-content: space-between;
}

.block5-flex-item1,
.block5-flex-item2,
.block5-flex-item3,
.block5-flex-item4 {
  max-width: 310px;
  width: 100%;
  height: 510px;
  box-sizing: border-box;
  cursor: pointer;
}

.item1-number,
.item2-number,
.item3-number,
.item4-number {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 112px;
  line-height: 128px;
  text-transform: lowercase;
  width: fit-content;
  margin: 76px auto 0 auto;
}

.item1-number {
  color: #3db0f0;
}

.item2-number {
  color: #fed467;
}

.item3-number {
  color: #ff9dc6;
}

.item4-number {
  color: #40d8c9;
}

.item1-h3,
.item2-h3,
.item3-h3,
.item4-h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #292929;
  width: fit-content;
  margin: 68px auto 0 auto;
}

.item1-p-disp-none,
.item2-p-disp-none,
.item3-p-disp-none,
.item4-p-disp-none {
  width: 229px;
  margin: 0 auto;
  display: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #292929;
}

.item1-p-disp-none {
  margin-top: 70px;
}

.item2-p-disp-none {
  margin-top: 30px;
}

.item3-p-disp-none {
  margin-top: 70px;
}

.item4-p-disp-none {
  margin-top: 72px;
}

.span-disp-none {
  display: none;
}

.zvezda1,
.zvezda2,
.zvezda3,
.zvezda4 {
  position: absolute;
  margin-top: -534px;
  margin-left: 127px;
  display: none;
}

.zvezda2,
.zvezda3 {
  margin-top: -562px;
}

.block5-flex-item1:hover,
.block5-flex-item2:hover,
.block5-flex-item3:hover,
.block5-flex-item4:hover {
  margin-top: -2px;
  border: 2px solid #ff9dc6;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  box-sizing: border-box;
}

.block5-flex-item1:hover .item1-p-disp-none {
  display: block;
}

.block5-flex-item1:hover .zvezda1 {
  display: block;
}

.block5-flex-item2:hover .span-disp-none {
  display: block;
}

.block5-flex-item2:hover .item2-p-disp-none {
  display: block;
}

.block5-flex-item2:hover .zvezda2 {
  display: block;
}

.block5-flex-item3:hover .item3-p-disp-none {
  display: block;
}

.block5-flex-item3:hover .zvezda3 {
  display: block;
}

.block5-flex-item4:hover .item4-p-disp-none {
  display: block;
}

.block5-flex-item4:hover .zvezda4 {
  display: block;
}

.block6 {
  width: 100%;
  height: 1688px;
  padding-left: 6.7vw;
  padding-top: 24px;
  background: rgba(252, 247, 241, 1);
}

.block6-center {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.block6-h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #292929;
}

.block6-flex {
  max-width: 1248px;
  margin: 56px 60px 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block6-item1,
.block6-item2,
.block6-item3,
.block6-item4,
.block6-item5,
.block6-item6 {
  max-width: 604px;
  width: 50%;
  height: 440px;
  margin-top: 40px;
  border-radius: 60px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 32px;
  padding-left: 32px;
  /* padding-right: 10px; */
}

.block6-item1 {
  background: url(img/pic1.jpg);
  background-position: center center;
}

.block6-item2 {
  background: url(img/pic2.jpg);
  background-position: center center;
}

.block6-item3 {
  background: url(img/pic3.jpg);
  background-position: center center;
}

.block6-item4 {
  background: url(img/pic4.jpg);
  background-position: center center;
}

.block6-item5 {
  background: url(img/pic5.jpg);
  background-position: center center;
}

.block6-item6 {
  background: url(img/pic6.jpg);
  background-position: center center;
}

.block6-h3,
.block6-h3-gradient {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #fcf8f3;
  z-index: 10;
  margin-right: 30px;
}

.block6-h3-gradient {
  margin-bottom: -8px;
}

.block6-gradient {
  /* position: absolute; */
  background: linear-gradient(360deg, #050000 4.09%, rgba(0, 0, 0, 0) 54.55%);
  border-radius: 0px 0px 60px 60px;
  width: 150%;
  height: 440px;
  margin-left: -32px;
  margin-bottom: -32px;
  max-width: 604px;
  /* display: flex; */
  /* align-items: flex-end; */
  padding-bottom: 40px;
  padding-left: 32px;
  display: none;
}

.block6-h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fcf8f3;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.block6-item1:hover .block6-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.block6-item1:hover .block6-h3 {
  display: none;
}

.block6-item2:hover .block6-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.block6-item2:hover .block6-h3 {
  display: none;
}

.block6-item3:hover .block6-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.block6-item3:hover .block6-h3 {
  display: none;
}

.block6-item4:hover .block6-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.block6-item4:hover .block6-h3 {
  display: none;
}

.block6-item5:hover .block6-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.block6-item5:hover .block6-h3 {
  display: none;
}

.block6-item6:hover .block6-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.block6-item6:hover .block6-h3 {
  display: none;
}

.block7 {
  width: 100%;
  height: 704px;
  background: #3db0f0;
}

.block7-center {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.block7-h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  align-items: center;
  color: #ffffff;
  padding-top: 74px;
  margin-left: 96px;
}

.block7-for-flex {
  width: 100%;
  max-width: 1440px;
}

.block7-cards {
  margin-top: 42px;
  width: 300vw;
  height: fit-content;
  display: flex;
  margin-left: 79px;
}

.block7-card {
  width: 319px;
  height: 399px;
  background: #fcf8f3;
  border-radius: 48px;
  margin: 16px;
}

.block7-card-foto {
  width: fit-content;
  margin: 39px auto;
}

.card-foto {
  width: 159px;
  height: 159px;
}

.block7-card-header {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #292929;
  width: fit-content;
  max-width: 90%;
  margin: 0 auto;
}

.block7-card-p {
  width: 75%;
  margin: 18px auto 0 auto;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 22px;
  color: #292929;
}

.block8 {
  position: inherit;
  width: 100%;
  height: 520px;
  background: #d9d9d9;
}

.block8-background {
  width: 100%;
  max-width: 1440px;
  height: 520px;
  background: url(img/podarok.jpg);
  background-position: center;
  margin: 0 auto;
  position: relative;
}

.block8-title {
  font-family: "Roboto";
  width: fit-content;
  margin: 0 auto;
  padding: 194px 30px 200px 19px;
  font-weight: 300;
  font-size: 112px;
  line-height: 124px;
  text-transform: uppercase;
  color: #ffffff;
}

.block8-background:hover .block8-title {
  color: #ff9dc6;
}

.block8-gradient-left {
  position: absolute;
  height: 520px;
  width: 15%;
  background: linear-gradient(90deg, #d9d9d9 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 100;
}

.block8-gradient-right {
  position: absolute;
  height: 520px;
  width: 15%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #d9d9d9 100%);
  z-index: 100;
  right: 0;
}

.block9 {
  width: 100%;
  height: 526px;
  background: #3db0f0;
}

.block9-flex {
  width: 100%;
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
}

.block9-text {
  width: 60%;
}

.block9-form {
  width: 40%;
}

.block9-text-h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
  margin-left: 96px;
  margin-top: 97px;
}

.block9-text-p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 101px;
  margin-left: 96px;
}

.block9-text-img {
  float: right;
  margin-top: -356px;
  margin-right: -24px;
  width: 131px;
  height: 131px;
}

.block9-form {
  margin-top: 89px;
  padding-left: 80px;
}

.forma {
  display: flex;
  flex-direction: column;
}

.name,
.email,
.phone {
  width: 400px;
  height: 60px;
  background: #ffffff;
  border-radius: 12px;
  border: 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #8f8f8f;
  padding-left: 15px;
  margin-bottom: 16px;
  outline: none;
}

.label {
  display: none;
}

.button-subscribe {
  width: 400px;
  height: 60px;
  background: #40d8c9;
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
}

.button-subscribe-span {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin: 0 auto;
}

.block9-form-p,
.block9-form-a {
  max-width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 34px;
}

.block9-form-a {
  text-decoration: underline;
}

.footer {
  background: rgba(252, 247, 241, 1);
  width: 100%;
  height: 496px;
}

.footer-center {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 132px;
}

.footer-logo {
  width: fit-content;
  margin: 0 auto;
  width: 695px;
  height: 106px;
}

.footer-flex {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 132px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #292929;
}

.footer-phone1,
.footer-phone2,
.footer-email {
  color: rgba(41, 41, 41, 1);
}

.footer-socials {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 182px;
  align-items: center;
  margin-top: -11px;
}

.footer-social-tg {
  width: 18px;
  height: 18px;
}

.footer-social-yt {
  width: 18px;
  height: 12px;
}

.footer-social-wa {
  width: 16px;
  height: 16px;
}

.footer-social-vk {
  width: 22px;
  height: 12px;
}

.black-line {
  height: 40px;
  width: 1px;
  background: #292929;
}

@media (min-width: 1441px) {
  .logo {
    margin-left: 96px;
  }

  .nav {
    margin-right: 96px;
  }

  .block1-1 {
    margin: 0 auto;
  }

  .block1-1-h1 {
    font-size: 112px;
    line-height: 124px;
  }

  .block1-2 {
    margin-top: -242px;
  }

  /* .block1-2-img1 {
        right: 183px;
    }
    
    .block1-2-img2 {
        right: 100px;
    } */

  .block1-3 {
    position: sticky;
    margin-top: 172.8px;
    right: auto;
    bottom: auto;
    margin-right: 50px;
    margin-top: -80px;
  }

  .block3-2 {
    background-size: 100%;
  }
}
